### Create Redshift Connection

```
1. Data Store Selection (Redshift)
2. Data Source Name
3. database
4. password
5. username
```

### Import Packages

In [1]:
from domino import data_sources
import os

### Instantiate Client

In [2]:
myClient = data_sources.DataSourceClient()
myClient

DataSourceClient(api_key='6801bae29833d8ebebfc2c957b755be181cda15ceedc3cf335f12c36fe995c90', token_file='/var/lib/domino/home/.api/token')

### Get Data Source

In [3]:
DATA_SOURCE_NAME = "ali-test-2-redshift"
data_source_obj = myClient.get_datasource(DATA_SOURCE_NAME)
data_source_obj

QueryDatasource(config={'type': 'DataSourceRedshiftConfig', 'dataSourceType': 'RedshiftConfig', 'host': 'redshift-cluster-regression.cen4bofhbbfl.us-west-2.redshift.amazonaws.com', 'port': '5439', 'database': 'dev'}, credential_type='Individual', datasource_type='RedshiftConfig', identifier='622f7ff14b34ac67107432ff', name='ali-test-2-redshift', owner='ddl-alireza')

### Identifier

In [4]:
data_source_obj.identifier

'622f7ff14b34ac67107432ff'

### Show Query in our Data Source Table (Dataset: is defined, Schema: is define)

In [5]:
res = data_source_obj.query("select * from yellow_cab limit 100")
res

Result(statement='select * from yellow_cab limit 100')

In [6]:
type(res)

domino_data.data_sources.Result

In [7]:
df = res.to_pandas()
df.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,ratecode_id,store_and_fwd_flag,pu_location_id,do_location_id,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2020-02-01 00:17:35,2020-02-01 00:30:32,1,2.60,1,N,145,7,1,11.0,0.5,0.5,2.45,0.0,0.3,14.75,0.0
1,1,2020-02-01 00:31:44,2020-02-01 00:43:28,1,3.20,1,N,186,140,1,11.0,3.0,0.5,1.00,0.0,0.3,15.80,2.5
2,2,2020-02-01 00:51:43,2020-02-01 01:01:29,1,2.28,1,N,238,152,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80,0.0
3,1,2020-02-01 00:25:31,2020-02-01 00:50:22,2,3.40,1,N,79,256,1,18.5,3.0,0.5,4.45,0.0,0.3,26.75,2.5
4,2,2020-02-01 00:58:26,2020-02-01 01:02:26,1,0.80,1,N,116,42,1,5.0,0.5,0.5,1.26,0.0,0.3,7.56,0.0

### Data Frame Operation

In [8]:
COL = 'trip_distance'
df.loc[:,COL].mean()

2.7654999934509394