### Create Snowflake Connection


```
1. Data Store Selection (Snowflake)
2. Data Source Name
3. account name
4. database
5. schema
6. warehouse
7. role
8. password
9. username
```

### Import Packages

In [1]:
from domino import data_sources
import os

### Instantiate Client

In [2]:
myClient = data_sources.DataSourceClient()
myClient

DataSourceClient(api_key='6801bae29833d8ebebfc2c957b755be181cda15ceedc3cf335f12c36fe995c90', token_file='/var/lib/domino/home/.api/token')

### Get Data Source

In [4]:
DATA_SOURCE_NAME = "ali-test-2-snowflake"
data_source_obj = myClient.get_datasource(DATA_SOURCE_NAME)
data_source_obj

QueryDatasource(config={'type': 'DataSourceSnowflakeConfig', 'database': 'SNOWFLAKE_SAMPLE_DATA', 'accountName': 'kma55258', 'dataSourceType': 'SnowflakeConfig', 'schema': 'TPCH_SF1', 'warehouse': 'DOMINODATALAB'}, credential_type='Individual', datasource_type='SnowflakeConfig', identifier='622f7de34b34ac67107432ed', name='ali-test-2-snowflake', owner='ddl-alireza')

### Identifier

In [5]:
data_source_obj.identifier

'622f7de34b34ac67107432ed'

### Show Query in our Data Source Table (Dataset: is defined, Schema: is define)

In [6]:
res_table = data_source_obj.query("SHOW TABLES")
df_table = res_table.to_pandas()
df_table

,created_on,name,database_name,schema_name,kind,comment,cluster_by,rows,bytes,owner,retention_time,automatic_clustering,change_tracking,search_optimization,search_optimization_progress,search_optimization_bytes,is_external
0,2021-11-11 20:38:34.965,CUSTOMER,SNOWFLAKE_SAMPLE_DATA,TPCH_SF1,TABLE,Customer data as defined by TPC-H,,150000,10747904,,1,OFF,OFF,OFF,NaN,NaN,N
1,2021-11-11 20:38:35.325,LINEITEM,SNOWFLAKE_SAMPLE_DATA,TPCH_SF1,TABLE,Lineitem data as defined by TPC-H,,6001215,165228544,,1,OFF,OFF,OFF,NaN,NaN,N
2,2021-11-11 20:38:35.294,NATION,SNOWFLAKE_SAMPLE_DATA,TPCH_SF1,TABLE,Nation data as defined by TPC-H,,25,4096,,1,OFF,OFF,OFF,NaN,NaN,N
3,2021-11-11 20:38:35.267,ORDERS,SNOWFLAKE_SAMPLE_DATA,TPCH_SF1,TABLE,Orders data as defined by TPC-H,,1500000,42303488,,1,OFF,OFF,OFF,NaN,NaN,N
4,2021-11-11 20:38:35.264,PART,SNOWFLAKE_SAMPLE_DATA,TPCH_SF1,TABLE,Part data as defined by TPC-H,,200000,5214208,,1,OFF,OFF,OFF,NaN,NaN,N
5,2021-11-11 20:38:35.264,PARTSUPP,SNOWFLAKE_SAMPLE_DATA,TPCH_SF1,TABLE,Partsupp data as defined by TPC-H,,800000,36589568,,1,OFF,OFF,OFF,NaN,NaN,N
6,2021-11-11 20:38:36.517,REGION,SNOWFLAKE_SAMPLE_DATA,TPCH_SF1,TABLE,Region data as defined by TPC-H,,5,4096,,1,OFF,OFF,OFF,NaN,NaN,N
7,2021-11-11 20:38:36.495,SUPPLIER,SNOWFLAKE_SAMPLE_DATA,TPCH_SF1,TABLE,Supplier data as defined by TPC-H,,10000,692224,,1,OFF,OFF,OFF,NaN,NaN,N

In [7]:
TABLE_NAME = df_table["name"][1]
TABLE_NAME

'LINEITEM'

In [8]:
res = data_source_obj.query("select * from " + TABLE_NAME +" limit 10")
res

Result(statement='select * from LINEITEM limit 10')

In [9]:
type(res)

domino_data.data_sources.Result

In [10]:
df = res.to_pandas()
df.head()

,L_ORDERKEY,L_PARTKEY,L_SUPPKEY,L_LINENUMBER,L_QUANTITY,L_EXTENDEDPRICE,L_DISCOUNT,L_TAX,L_RETURNFLAG,L_LINESTATUS,L_SHIPDATE,L_COMMITDATE,L_RECEIPTDATE,L_SHIPINSTRUCT,L_SHIPMODE,L_COMMENT
0,1,155190,7706,1,17.0,21168.23,0.04,0.02,N,O,1996-03-13,1996-02-12,1996-03-22,DELIVER IN PERSON,TRUCK,egular courts above the
1,1,67310,7311,2,36.0,45983.16,0.09,0.06,N,O,1996-04-12,1996-02-28,1996-04-20,TAKE BACK RETURN,MAIL,ly final dependencies: slyly bold
2,1,63700,3701,3,8.0,13309.60,0.10,0.02,N,O,1996-01-29,1996-03-05,1996-01-31,TAKE BACK RETURN,REG AIR,"riously. regular, express dep"
3,1,2132,4633,4,28.0,28955.64,0.09,0.06,N,O,1996-04-21,1996-03-30,1996-05-16,NONE,AIR,lites. fluffily even de
4,1,24027,1534,5,24.0,22824.48,0.10,0.04,N,O,1996-03-30,1996-03-14,1996-04-01,NONE,FOB,pending foxes. slyly re

### Query with filters on L_QUANTITY

In [11]:
res = data_source_obj.query("SELECT * FROM " + TABLE_NAME +" WHERE L_QUANTITY > 20 LIMIT 5")
res

Result(statement='SELECT * FROM LINEITEM WHERE L_QUANTITY > 20 LIMIT 5')

In [12]:
df = res.to_pandas()
df.head()

,L_ORDERKEY,L_PARTKEY,L_SUPPKEY,L_LINENUMBER,L_QUANTITY,L_EXTENDEDPRICE,L_DISCOUNT,L_TAX,L_RETURNFLAG,L_LINESTATUS,L_SHIPDATE,L_COMMITDATE,L_RECEIPTDATE,L_SHIPINSTRUCT,L_SHIPMODE,L_COMMENT
0,1,67310,7311,2,36.0,45983.16,0.09,0.06,N,O,1996-04-12,1996-02-28,1996-04-20,TAKE BACK RETURN,MAIL,ly final dependencies: slyly bold
1,1,2132,4633,4,28.0,28955.64,0.09,0.06,N,O,1996-04-21,1996-03-30,1996-05-16,NONE,AIR,lites. fluffily even de
2,1,24027,1534,5,24.0,22824.48,0.10,0.04,N,O,1996-03-30,1996-03-14,1996-04-01,NONE,FOB,pending foxes. slyly re
3,1,15635,638,6,32.0,49620.16,0.07,0.02,N,O,1996-01-30,1996-02-07,1996-02-03,DELIVER IN PERSON,MAIL,arefully slyly ex
4,2,106170,1191,1,38.0,44694.46,0.00,0.05,N,O,1997-01-28,1997-01-14,1997-02-02,TAKE BACK RETURN,RAIL,ven requests. deposits breach a

### Data Frame Operation

In [13]:
COL = 'L_QUANTITY'
df.loc[:,COL].mean()

31.6

### Config Override

In [14]:
data_source_obj.update(data_sources.SnowflakeConfig(schema="TPCH_SF10"))

In [15]:
data_source_obj._config_override

SnowflakeConfig(database=None, schema='TPCH_SF10', warehouse=None, role=None, password=None, username=None)

In [16]:
import json
BASE_PATH =  r"/home/ubuntu/"
with open( BASE_PATH+ 'ali_data.json') as json_file:
    data = json.load(json_file)
    SNOWFLAKE_USERNAME = data['SNOWFLAKE'][0]['username']
    SNOWFLAKE_PASSWORD = data['SNOWFLAKE'][0]['password']

In [27]:
SNOW_CONF = data_sources.SnowflakeConfig(
                        database='SNOWFLAKE_SAMPLE_DATA', 
                        schema='TPCH_SF100', 
                        warehouse='DOMINODATALAB', 
                        role=None)#, 
                        #password=SNOWFLAKE_PASSWORD, 
                        #username=SNOWFLAKE_USERNAME)

In [28]:
data_source_obj.update(SNOW_CONF)

In [29]:
res = data_source_obj.query("select * from LINEITEM limit 100")
res

Result(statement='select * from LINEITEM limit 100')

In [30]:
df = res.to_pandas()
df.head()

,L_ORDERKEY,L_PARTKEY,L_SUPPKEY,L_LINENUMBER,L_QUANTITY,L_EXTENDEDPRICE,L_DISCOUNT,L_TAX,L_RETURNFLAG,L_LINESTATUS,L_SHIPDATE,L_COMMITDATE,L_RECEIPTDATE,L_SHIPINSTRUCT,L_SHIPMODE,L_COMMENT
0,103945062,17896995,147013,3,23.0,45795.30,0.02,0.02,N,O,1998-09-15,1998-10-08,1998-10-05,TAKE BACK RETURN,MAIL,"even, ironic reques"
1,103722405,11349359,349360,3,40.0,56311.60,0.04,0.00,N,O,1998-09-15,1998-09-08,1998-10-07,DELIVER IN PERSON,FOB,hs about the thin packages a
2,103620994,4200943,200944,3,28.0,51624.44,0.07,0.07,N,O,1998-09-15,1998-09-18,1998-09-17,NONE,TRUCK,d deposits wake bl
3,103615524,10260,760261,2,46.0,53831.96,0.07,0.01,N,O,1998-09-15,1998-09-03,1998-10-04,DELIVER IN PERSON,SHIP,"onic, express dependencie"
4,103887431,12485703,485704,1,13.0,21945.04,0.06,0.05,N,O,1998-09-15,1998-07-25,1998-09-22,TAKE BACK RETURN,RAIL,"gular requests against the regular,"

### Data Frame Operation

In [31]:
COL = 'L_QUANTITY'
df.loc[:,COL].mean()

24.8