### Create Redshift Connection

```
1. Data Store Selection (Redshift)
2. Data Source Name
3. database
4. password
5. username
```

### Import Packages

In [1]:
from domino import data_sources
import os

### Instantiate Client

In [2]:
myClient = data_sources.DataSourceClient()
myClient

DataSourceClient(api_key='6801bae29833d8ebebfc2c957b755be181cda15ceedc3cf335f12c36fe995c90', token_file='/var/lib/domino/home/.api/token')

### Get Data Source

In [3]:
DATA_SOURCE_NAME = "ali-test-redshift"
data_source_obj = myClient.get_datasource(DATA_SOURCE_NAME)
data_source_obj

QueryDatasource(config={'type': 'DataSourceRedshiftConfig', 'dataSourceType': 'RedshiftConfig', 'host': 'redshift-cluster-regression.cen4bofhbbfl.us-west-2.redshift.amazonaws.com', 'port': '5439', 'database': 'dev'}, credential_type='Individual', datasource_type='RedshiftConfig', identifier='622d5af34b34ac6710742a65', name='ali-test-redshift', owner='ddl-alireza')

### Identifier

In [4]:
data_source_obj.identifier

'622d5af34b34ac6710742a65'

### Show Query in our Data Source Table (Dataset: is defined, Schema: is define)

In [5]:
res = data_source_obj.query("select * from yellow_cab limit 100")
res

Result(statement='select * from yellow_cab limit 100')

In [6]:
type(res)

domino_data.data_sources.Result

In [7]:
df = res.to_pandas()
df.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,ratecode_id,store_and_fwd_flag,pu_location_id,do_location_id,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2020-02-01 00:32:47,2020-02-01 01:05:36,1,4.80,1,N,45,61,1,21.5,3.0,0.5,6.30,0.0,0.3,31.600000,2.5
1,2,2020-02-01 00:07:35,2020-02-01 00:31:39,1,4.38,1,N,144,140,1,18.0,0.5,0.5,3.00,0.0,0.3,24.799999,2.5
2,1,2020-02-01 00:15:49,2020-02-01 00:20:48,2,1.00,1,N,249,107,1,5.5,3.0,0.5,1.85,0.0,0.3,11.150000,2.5
3,1,2020-02-01 00:11:15,2020-02-01 00:24:29,1,2.10,1,N,224,68,2,10.5,3.0,0.5,0.00,0.0,0.3,14.300000,2.5
4,2,2020-02-01 00:03:57,2020-02-01 00:48:10,1,7.22,1,N,161,45,1,30.5,0.5,0.5,8.57,0.0,0.3,42.869999,2.5

### Data Frame Operation

In [8]:
COL = 'trip_distance'
df.loc[:,COL].mean()

3.4853999972715974