### Create Snowflake Connection

#### None optional variables:
```
account name
```

#### Optional variables:
```
database:
schema:
warehouse:
role:
password:
username:
```

#### credentials need to be certified in the UI to generate identifier

### Import Packages

In [1]:
from domino import data_sources
import os

### Instantiate Client

In [2]:
myClient = data_sources.DataSourceClient()
myClient

DataSourceClient(api_key='6801bae29833d8ebebfc2c957b755be181cda15ceedc3cf335f12c36fe995c90', token_file='/var/lib/domino/home/.api/token')

### Get Data Source

In [3]:
DATA_SOURCE_NAME = "ali-test-Snowflake"
data_source_obj = myClient.get_datasource(DATA_SOURCE_NAME)
data_source_obj

QueryDatasource(config={'type': 'DataSourceSnowflakeConfig', 'database': 'SNOWFLAKE_SAMPLE_DATA', 'accountName': 'rda18978', 'dataSourceType': 'SnowflakeConfig', 'schema': 'TPCH_SF1', 'warehouse': 'ALIWAREHOUSE'}, credential_type='Individual', datasource_type='SnowflakeConfig', identifier='622cea394b34ac6710742a29', name='ali-test-Snowflake', owner='ddl-alireza')

### Identifier

In [4]:
data_source_obj.identifier

'622cea394b34ac6710742a29'

### Show Query in our Data Source Table (Dataset: is defined, Schema: is define)

In [5]:
res = data_source_obj.query("select * from LINEITEM limit 100")
res

Result(statement='select * from LINEITEM limit 100')

In [6]:
type(res)

domino_data.data_sources.Result

In [7]:
df = res.to_pandas()
df.head()

,L_ORDERKEY,L_PARTKEY,L_SUPPKEY,L_LINENUMBER,L_QUANTITY,L_EXTENDEDPRICE,L_DISCOUNT,L_TAX,L_RETURNFLAG,L_LINESTATUS,L_SHIPDATE,L_COMMITDATE,L_RECEIPTDATE,L_SHIPINSTRUCT,L_SHIPMODE,L_COMMENT
0,600001,112520,7543,1,27.0,41378.04,0.10,0.00,N,O,1995-11-28,1995-12-06,1995-12-06,TAKE BACK RETURN,AIR,"ilent packages. final, regu"
1,600001,114063,1597,2,8.0,8616.48,0.06,0.00,N,O,1996-02-10,1995-12-13,1996-02-29,NONE,FOB,iously special deposits. fluffily pending
2,600001,46739,4252,3,20.0,33714.60,0.02,0.05,N,O,1995-12-09,1996-01-10,1995-12-16,TAKE BACK RETURN,REG AIR,ully final deposits wa
3,600002,79540,7062,1,30.0,45586.20,0.09,0.01,R,F,1992-09-20,1992-09-29,1992-10-15,NONE,AIR,uses haggle caref
4,600002,24776,4777,2,8.0,13606.16,0.01,0.05,A,F,1992-10-01,1992-09-01,1992-10-05,COLLECT COD,AIR,". ironic, final theodolites run alongsi"

### Data Frame Operation

In [8]:
COL = 'L_QUANTITY'
df.loc[:,COL].mean()

24.53

### Config Override

In [9]:
SNOW_CONF = data_sources.SnowflakeConfig(
                        database='SNOWFLAKE_SAMPLE_DATA', 
                        schema='TPCH_SF100', 
                        warehouse='ALIWAREHOUSE', 
                        role=None, 
                        password='', 
                        username='')

In [10]:
data_source_obj.update(SNOW_CONF)

In [11]:
res = data_source_obj.query("select * from LINEITEM limit 100")
res

Result(statement='select * from LINEITEM limit 100')

In [12]:
df = res.to_pandas()
df.head()

,L_ORDERKEY,L_PARTKEY,L_SUPPKEY,L_LINENUMBER,L_QUANTITY,L_EXTENDEDPRICE,L_DISCOUNT,L_TAX,L_RETURNFLAG,L_LINESTATUS,L_SHIPDATE,L_COMMITDATE,L_RECEIPTDATE,L_SHIPINSTRUCT,L_SHIPMODE,L_COMMENT
0,157889925,16761811,11828,4,28.0,52415.44,0.04,0.03,N,O,1998-08-16,1998-08-29,1998-08-30,NONE,TRUCK,ular dependencies acc
1,157724419,9670398,920408,1,29.0,39669.39,0.00,0.07,N,O,1998-08-16,1998-09-10,1998-09-05,TAKE BACK RETURN,RAIL,ial asymptotes
2,157579812,16378324,378325,4,34.0,47651.34,0.07,0.08,N,O,1998-08-16,1998-10-08,1998-09-03,NONE,MAIL,usly permanent deposits? car
3,157729094,5922812,172818,3,37.0,67877.24,0.03,0.07,N,O,1998-08-16,1998-07-01,1998-09-14,COLLECT COD,AIR,regular r
4,157632515,16496692,746709,3,48.0,81017.76,0.07,0.05,N,O,1998-08-16,1998-08-21,1998-09-05,TAKE BACK RETURN,TRUCK,luffily bold deposits about the fluffily

### Data Frame Operation

In [13]:
COL = 'L_QUANTITY'
df.loc[:,COL].mean()

27.34