### Create Snowflake Connection


```
1. Data Store Selection (Snowflake)
2. Data Source Name
3. account name
4. database
5. schema
6. warehouse
7. role
8. password
9. username
```

### Import Packages

In [1]:
from domino import data_sources
import os

### Instantiate Client

In [2]:
myClient = data_sources.DataSourceClient()
myClient

DataSourceClient(api_key='6801bae29833d8ebebfc2c957b755be181cda15ceedc3cf335f12c36fe995c90', token_file='/var/lib/domino/home/.api/token')

### Get Data Source

In [3]:
DATA_SOURCE_NAME = "ali-test-Snowflake"
data_source_obj = myClient.get_datasource(DATA_SOURCE_NAME)
data_source_obj

QueryDatasource(config={'type': 'DataSourceSnowflakeConfig', 'database': 'SNOWFLAKE_SAMPLE_DATA', 'accountName': 'rda18978', 'dataSourceType': 'SnowflakeConfig', 'schema': 'TPCH_SF1', 'warehouse': 'ALIWAREHOUSE'}, credential_type='Individual', datasource_type='SnowflakeConfig', identifier='622cea394b34ac6710742a29', name='ali-test-Snowflake', owner='ddl-alireza')

### Identifier

In [4]:
data_source_obj.identifier

'622cea394b34ac6710742a29'

### Show Query in our Data Source Table (Dataset: is defined, Schema: is define)

In [5]:
res_table = data_source_obj.query("SHOW TABLES")
df_table = res_table.to_pandas()
df_table

,created_on,name,database_name,schema_name,kind,comment,cluster_by,rows,bytes,owner,retention_time,automatic_clustering,change_tracking,is_external
0,2021-11-11 20:38:34.965,CUSTOMER,SNOWFLAKE_SAMPLE_DATA,TPCH_SF1,TABLE,Customer data as defined by TPC-H,,150000,10747904,,1,OFF,OFF,N
1,2021-11-11 20:38:35.325,LINEITEM,SNOWFLAKE_SAMPLE_DATA,TPCH_SF1,TABLE,Lineitem data as defined by TPC-H,,6001215,165228544,,1,OFF,OFF,N
2,2021-11-11 20:38:35.294,NATION,SNOWFLAKE_SAMPLE_DATA,TPCH_SF1,TABLE,Nation data as defined by TPC-H,,25,4096,,1,OFF,OFF,N
3,2021-11-11 20:38:35.267,ORDERS,SNOWFLAKE_SAMPLE_DATA,TPCH_SF1,TABLE,Orders data as defined by TPC-H,,1500000,42303488,,1,OFF,OFF,N
4,2021-11-11 20:38:35.264,PART,SNOWFLAKE_SAMPLE_DATA,TPCH_SF1,TABLE,Part data as defined by TPC-H,,200000,5214208,,1,OFF,OFF,N
5,2021-11-11 20:38:35.264,PARTSUPP,SNOWFLAKE_SAMPLE_DATA,TPCH_SF1,TABLE,Partsupp data as defined by TPC-H,,800000,36589568,,1,OFF,OFF,N
6,2021-11-11 20:38:36.517,REGION,SNOWFLAKE_SAMPLE_DATA,TPCH_SF1,TABLE,Region data as defined by TPC-H,,5,4096,,1,OFF,OFF,N
7,2021-11-11 20:38:36.495,SUPPLIER,SNOWFLAKE_SAMPLE_DATA,TPCH_SF1,TABLE,Supplier data as defined by TPC-H,,10000,692224,,1,OFF,OFF,N

In [6]:
TABLE_NAME = df_table["name"][1]
TABLE_NAME

'LINEITEM'

In [7]:
res = data_source_obj.query("select * from " + TABLE_NAME +" limit 10")
res

Result(statement='select * from LINEITEM limit 10')

In [8]:
type(res)

domino_data.data_sources.Result

In [9]:
df = res.to_pandas()
df.head()

,L_ORDERKEY,L_PARTKEY,L_SUPPKEY,L_LINENUMBER,L_QUANTITY,L_EXTENDEDPRICE,L_DISCOUNT,L_TAX,L_RETURNFLAG,L_LINESTATUS,L_SHIPDATE,L_COMMITDATE,L_RECEIPTDATE,L_SHIPINSTRUCT,L_SHIPMODE,L_COMMENT
0,3000001,14406,4407,1,22.0,29048.80,0.02,0.06,A,F,1993-01-31,1993-03-16,1993-02-28,DELIVER IN PERSON,AIR,uriously silent patterns across the f
1,3000002,34422,4423,1,45.0,61038.90,0.06,0.04,N,O,1995-09-28,1995-08-27,1995-10-15,NONE,AIR,al braids wake idly regular a
2,3000002,115068,91,2,48.0,51986.88,0.09,0.00,N,O,1995-09-25,1995-09-21,1995-10-01,TAKE BACK RETURN,AIR,ld requests kindle unusual platelet
3,3000002,147647,162,3,17.0,28808.88,0.06,0.04,N,O,1995-10-25,1995-09-22,1995-10-29,TAKE BACK RETURN,FOB,"foxes across the ironic, final deposi"
4,3000002,98797,8798,4,9.0,16162.11,0.03,0.01,N,O,1995-10-30,1995-09-17,1995-11-28,DELIVER IN PERSON,TRUCK,y special pinto beans. slyly ironic

### Query with filters on L_QUANTITY

In [10]:
res = data_source_obj.query("SELECT * FROM " + TABLE_NAME +" WHERE L_QUANTITY > 20 LIMIT 10")
res

Result(statement='SELECT * FROM LINEITEM WHERE L_QUANTITY > 20 LIMIT 10')

In [11]:
df = res.to_pandas()
df.head()

,L_ORDERKEY,L_PARTKEY,L_SUPPKEY,L_LINENUMBER,L_QUANTITY,L_EXTENDEDPRICE,L_DISCOUNT,L_TAX,L_RETURNFLAG,L_LINESTATUS,L_SHIPDATE,L_COMMITDATE,L_RECEIPTDATE,L_SHIPINSTRUCT,L_SHIPMODE,L_COMMENT
0,1200001,36262,8766,1,31.0,37146.06,0.06,0.03,R,F,1994-05-02,1994-03-30,1994-05-11,NONE,RAIL,"ular, express ins"
1,1200001,54065,1581,2,23.0,23438.38,0.00,0.03,A,F,1994-01-26,1994-03-18,1994-02-07,DELIVER IN PERSON,SHIP,coys after the slyly even idea
2,1200002,167367,7368,1,40.0,57374.40,0.01,0.00,N,O,1997-03-08,1997-03-01,1997-03-15,COLLECT COD,SHIP,accounts cajole beside the furiously e
3,1200002,131610,9150,2,29.0,47606.69,0.01,0.01,N,O,1997-02-13,1997-01-15,1997-03-14,TAKE BACK RETURN,RAIL,e fluffily fluffily regular pin
4,1200002,161851,9400,3,23.0,43995.55,0.00,0.04,N,O,1997-01-17,1997-01-12,1997-02-16,COLLECT COD,TRUCK,"nal platelets. regular, special Tiresias pl"

### Data Frame Operation

In [12]:
COL = 'L_QUANTITY'
df.loc[:,COL].mean()

34.6

### Config Override

In [13]:
data_source_obj.update(data_sources.SnowflakeConfig(schema="TPCH_SF10"))

In [14]:
data_source_obj._config_override

SnowflakeConfig(database=None, schema='TPCH_SF10', warehouse=None, role=None, password=None, username=None)

In [15]:
import json
BASE_PATH =  r"/home/ubuntu/"
with open( BASE_PATH+ 'ali_data.json') as json_file:
    data = json.load(json_file)
    SNOWFLAKE_USERNAME = data['SNOWFLAKE'][0]['username']
    SNOWFLAKE_PASSWORD = data['SNOWFLAKE'][0]['password']

In [16]:
SNOW_CONF = data_sources.SnowflakeConfig(
                        database='SNOWFLAKE_SAMPLE_DATA', 
                        schema='TPCH_SF100', 
                        warehouse='ALIWAREHOUSE', 
                        role=None, 
                        password=SNOWFLAKE_PASSWORD, 
                        username=SNOWFLAKE_USERNAME)

In [17]:
data_source_obj.update(SNOW_CONF)

In [18]:
res = data_source_obj.query("select * from LINEITEM limit 100")
res

Result(statement='select * from LINEITEM limit 100')

In [19]:
df = res.to_pandas()
df.head()

,L_ORDERKEY,L_PARTKEY,L_SUPPKEY,L_LINENUMBER,L_QUANTITY,L_EXTENDEDPRICE,L_DISCOUNT,L_TAX,L_RETURNFLAG,L_LINESTATUS,L_SHIPDATE,L_COMMITDATE,L_RECEIPTDATE,L_SHIPINSTRUCT,L_SHIPMODE,L_COMMENT
0,469583879,1950993,950994,4,33.0,67448.70,0.04,0.03,N,O,1998-10-28,1998-09-21,1998-11-16,NONE,RAIL,en asymptotes.
1,469738246,9792498,792499,3,27.0,42930.27,0.10,0.00,N,O,1998-10-28,1998-09-14,1998-11-14,NONE,MAIL,frays. fin
2,469723778,814546,314547,3,13.0,18986.50,0.08,0.06,N,O,1998-10-28,1998-09-10,1998-11-04,TAKE BACK RETURN,RAIL,pecial acc
3,469844358,10620184,120205,7,30.0,33109.50,0.04,0.01,N,O,1998-10-28,1998-08-18,1998-11-25,NONE,REG AIR,arefully even theodolites-- quick
4,469786242,14662190,162219,2,20.0,23029.20,0.05,0.00,N,O,1998-10-28,1998-09-02,1998-11-26,TAKE BACK RETURN,MAIL,onic theodolites. slyly specia

### Data Frame Operation

In [20]:
COL = 'L_QUANTITY'
df.loc[:,COL].mean()

23.64